{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title> Handle Your Mess Issues </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"></link>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
    <div id="main">
            <img src = "{% static 'img/login_logo.jpg' %}" />
            <h1 id = "heading"> My Mess </h1>
    </div>
<div class="container">
  <form class="form-horizontal" role="form" method="post">
  	{% csrf_token %}
    {{form.as_p}}
   <button type="submit" class="btn btn-default">Login</button>
  </form>
</div>

</body>
</html>

